.events {
    margin: 30px auto;
}

.myCard {
    width: 90%;
    margin: 10px auto;
    min-width: 300px;
    text-align: left;
}

.noEvents {
    text-align: center;
    margin: 15vh auto 39vh auto;
}

.myCard button {
    margin-left: 10px;
}

#eventType {
    margin: 0;
    font-size: 8pt;
    color: grey;
    text-indent: unset;
}

.myCard h2 {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 24pt;
}

.eventDateTime {
    margin: 0;
    font-size: 8pt;
    color: grey;
}

.message {
    word-wrap: break-word;
    overflow: auto;
    border-top: 0.5px solid rgb(185, 185, 185);
    border-left: 0.5px solid rgb(185, 185, 185);
    padding: 10px;
    /* font-size: 14pt; */
    color: black !important;
    text-indent: 20px;
    max-height: 300px;
    min-height: 100px;
}

@media only screen and (max-width: 875px) {
    .boardInfo {
        display: none
    }
    .myCard {
        margin-left: auto;
        margin-right: auto;
    }
}

#exitBtn {
    float: right;
    margin-top: -10px;
}

#eventLocation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#time {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
}

#eventLocation .form-group {
    margin: 0;
}